@model List<SayfaUrlSiralamaSonuc>

@{
    ViewData["Title"] = "SayfaUrlSiralama";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YAM: Yerli Arama Motoru</title>
</head>
<body>
@using (Html.BeginForm("SayfaUrlSiralama", "Home", FormMethod.Post))
{
    <div class="form">
        <form>
            @Html.EditorFor(p => p.Url)

            <div class="form-elements">
                <button type="submit">Search</button>
            </div>
        </form>
    </div>
}
</body>
</html>

